.titulo-biblioteca {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.juegos-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding-top: 50px;
}

.contenedorProfile{
    position:relative
}


.juego-card {
    width: 30%;
    min-width: 220px;
    max-width: 250px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 10px #000;
}

.juego-img-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s;
}

.juego-img-container:hover{
    background: white;
    color: black;
    transition: 0.3s;  
}

.juego-imagen {
    width: 19%;
    height: 57px;
    display: block;
    transition: transform 0.3s ease;
}
.textnamegame{
    font-size: 16px;
    padding-left: 24px;
}




.juego-info p {
    margin: 0.3rem 0;
    font-size: 0.9rem;
    color: #ddd;
    text-align: justify;
    padding-right: 30px;
}