.biblioteca-container {
    display: flex;
    background-color: #121212;
    color: white;
}

.buscador-input {
    width: 90%;
    padding: 10px;
    background-color: #2a2f35;
    border: 1px solid #3c434b;
    border-radius: 12px;
    color: #ffffff;
    font-size: 14px;
    transition: border 0.2s;
}
.box1{
    border: 1px solid #3c434b;
    overflow: auto;
    max-height: 84vh;
    padding: 16px;
    border-radius: 20px;
    margin: 16px 0px 11px 0px;
}
.titulo-biblioteca{
    font-size: 12px;
}

.buscador-input:focus {
    border-color: #66c0f4;
    outline: none;
}

.inputContainer{
    display: flex;
    justify-content: center;
}
